extends ../layout

block head
  link(rel='stylesheet', href='/css/plugins/dataTables/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/css/plugins/dataTables/dataTables.responsive.css')
block foot
  //Data Tables
  script(src="/js/plugins/dataTables/jquery.dataTables.js")
  script(src="/js/plugins/dataTables/dataTables.bootstrap.js")
  script(src="/js/plugins/dataTables/dataTables.responsive.js")
  script(src='/js/pages/klanten/index.js')

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
      h2 Data Tables
      ol.breadcrumb
        li
          a(href='/authenticated/index') Home
        li
          a Klanten
        li.active
          strong Alle Klanten
    .col-lg-2
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-3
        .ibox.float-e-margins
          .ibox-content
            a.btn.btn-primary(href='/authenticated/klanten/new') Voeg Klant Toe
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Overzicht van alle klanten
            .ibox-tools
              a.collapse-link
                i.fa.fa-chevron-up
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.fa.fa-wrench
              ul.dropdown-menu.dropdown-user
                li
                  a(href='#') Config option 1
                li
                  a(href='#') Config option 2
              a.close-link
                i.fa.fa-times
          .ibox-content
            table.table.table-striped.table-bordered.table-hover.dataTables-example
              thead
                tr
                  th Klant Nummer
                  th Naam
                  th Straat
                  th Nummer
                  th Gemeente
                  th Belangrijk
                  th Status
                  th Action
              tbody
                each item in klanten
                  tr
                    td= item.klantnummer
                    td= item.naam
                    td= item.straat
                    td= item.nummer
                    td= item.gemeente
                    td
                      if(item.important)
                        i.fa.fa-check.text-navy
                      else
                        | &nbsp;
                    td= item.status
                    td
                      a.btn.btn-white.btn-sm(href='/authenticated/klanten/edit/#{item.klantnummer}')
                        i.fa.fa-pencil
                        | &nbsp;Edit
                      | &nbsp;
                      a.btn.btn-danger.btn-sm(href='/authenticated/klanten/delete/#{item.klantnummer}', name="btnDelete", data-id='#{item.klantnummer}')
                        i.fa.fa-trash
                        | &nbsp;Delete
              tfoot
                tr
                  th Klant Nummer
                  th Naam
                  th Straat
                  th Nummer
                  th Gemeente
                  th Belangrijk
                  th Status
                  th Action
