extends ../layout

block head
  link(rel='stylesheet', href='/css/plugins/dataTables/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/css/plugins/dataTables/dataTables.responsive.css')
block foot
  //Data Tables
  script(src="/js/plugins/dataTables/jquery.dataTables.js")
  script(src="/js/plugins/dataTables/dataTables.bootstrap.js")
  script(src="/js/plugins/dataTables/dataTables.responsive.js")
  script(src='/js/pages/stock/index.js')

block content
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-10
      h2 Stock
      ol.breadcrumb
        li
          a(href='/authenticated/index') Home
        li
          a(href='/authenticated/stock') Stock
        li.active
          strong Alle Artikels
    .col-lg-2
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-6
        .ibox.float-e-margins
          .ibox-content
            a.btn.btn-white(href='/authenticated/stock/new')
              i.fa.fa-plus
            | &nbsp;
            a.btn.btn-white(name="btnCreateBarcode")
              i.fa.fa-barcode
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Overzicht van alle Artikels
            .ibox-tools
              a.collapse-link
                i.fa.fa-chevron-up
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.fa.fa-wrench
              ul.dropdown-menu.dropdown-user
                li
                  a(href='#') Config option 1
                li
                  a(href='#') Config option 2
              a.close-link
                i.fa.fa-times
          .ibox-content
            table.table.table-striped.table-bordered.table-hover.dataTables-example
              thead
                tr
                  th &nbsp;
                  th Id
                  th Art#
                  th Ext. Art#
                  th Naam
                  th Beschrijving
                  th In Stock
                  th Gereserveerd
                  th Prijs
                  th Action
              tbody
                each item in stock
                  tr
                    td
                      input(type='checkbox', name='chkStock', data-id='#{item.stockid}')
                    td= item.stockid
                    td= item.artikelnummer
                    td= item.externArtikelNummer
                    td= item.name
                    td= item.beschrijving
                    td= item.stock
                    td= getStockReservations(item.stockReservation)
                    td= item.prijs
                    td
                      a.btn.btn-white.btn-sm(href='/authenticated/stock/edit/#{item.stockid}')
                        i.fa.fa-pencil
                        | &nbsp;Edit
                      | &nbsp;
                      a.btn.btn-danger.btn-sm(href='/authenticated/stock/delete/#{item.stockid}')
                        i.fa.fa-trash
                        | &nbsp;Delete
              tfoot
                tr
                  th &nbsp;
                  th Id
                  th Art#
                  th Ext. Art#
                  th Naam
                  th Beschrijving
                  th In Stock
                  th Gereserveerd
                  th Prijs
                  th Action
